{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}

<h2 class="green-text text-center mb-5"><b>Logheaza-te</b></h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}


<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

  </ul>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="md-form">
    <i class="fa fa-user prefix grey-text"></i>
    <input class="form-control" placeholder="Email" type="email" name="login" maxlength="50" required="" id="id_login">
  </div>
  <!-- Material input password -->
  <div class="md-form">
    <i class="fa fa-lock prefix grey-text"></i>
    <input class="form-control" placeholder="Parola" type="password" name="password" maxlength="50" required="" id="id_password">
  </div>
  <div class="text-center py-4 mt-3">
    <button class="primaryAction btn btn-success" type="submit">Log in</button>
  </div>
  <a href="/accounts/signup"><h6 class="green-text" style="text-align: center; font-size: 12px"> Nu aveti cont? </h6></a>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

</form>

{% endblock %}

