{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="md-form">
    <h2 class="green-text mb-5"><b>Inregistreaza-te</b></h2>
    {% load socialaccount %}
    {% providers_media_js %}
    <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block white-text btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
      <span><i class="fab fa-facebook-f"></i></span>
        Inregistreaza-te cu facebook
    </a>
    <input class="form-control" placeholder="Adresa de email" type="email" name="email" maxlength="50" required="" id="id_email">
  </div>

                        <!-- Material input password -->
  <div class="md-form">

    <input class="form-control" placeholder="Parola" type="password" name="password1" maxlength="50" required="" id="id_password1">
  </div>
  <div class="md-form">
    <input class="form-control" placeholder="Nume" type="text" name="nume" maxlength="50" required id="id_nume">
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-success" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}

{% block footer %}
<footer class="page-footer font-small m mt-4" style="background-color:#a5d6a7">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/torturidecasa.bacau">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>


        </div>
      </div>
      <!-- Grid column -->
	<div>
    	<p>© Radu Baston</p>
    </div>
    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->


 </footer>
{% endblock %}
