{% extends 'main_user.html' %}



{% block navbar %}

{% load static %}
<nav class="navbar navbar-dark" style="min-height:100px">
  <a class="navbar-brand" href="#" style="padding-left: 120px">
    <img src="{% static 'tort.png' %}" height="30" class="d-inline-block align-top"
      alt="mdb logo"> <div class="green-text">Torturi de casa Bacau</div>
  </a>
	<a class="navbar-brand" href="/user/myaccount/wish" data-toggle="tooltip" title="Wish List" style="margin-left: 650px"><i class="fa fa-heart" style="font-size:33px;color:#a5d6a7"></i></a>
	<a class="navbar-brand" href="/user/myaccount/cart" data-toggle="tooltip" title="Cart" style="margin-right: 250px"><i style="font-size:33px;color:#a5d6a7" class="fas fa-shopping-cart"></i></a>
</nav>
<nav class="navbar navbar-expand-sm #a5d6a7 lighten-3", style="background-color:#a5d6a7", style="min-height:100px">
  <!-- Brand -->
  <a class="navbar-brand white-text" style="padding-left: 120px" href="{% url 'home' %}"><b>Home</b></a>

  <!-- Links -->
  <ul class="navbar-nav">
	<li class="nav-item">
      <a class="nav-link white-text" href="/personalizare/"><b>Personalizare</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-text" href="#"><b>Contact</b></a>
    </li>
	

    <!-- Dropdown -->
	{% if user.is_anonymous == True %}
    <li class="nav-item" style="padding-left: 900px">
      <a class="nav-link white-text" href="/user/register">
        <b>Register</b>
      </a>
    </li>
	<li class="nav-item" style="padding-left: 20px">
      <a class="nav-link white-text" href="/user/login">
        <b>Login</b>
      </a>
    </li>
	{% else %}
	<li class="nav-item" style="padding-left: 900px">
      <a class="nav-link white-text" href="/user/myaccount">
        <b>{{user.nume}}</b>
      </a>
    </li>
	<li class="nav-item" style="padding-left: 30px">
      <a class="nav-link white-text" href="/user/logout">
        Logout
      </a>
    </li>	
	{% endif %}
  </ul>
</nav>

{% endblock %}

{% block addr %}

  <h2 class="mt-2 pb-4">Modifica-ti datele</h2>

 <form method="post" novalidate id="myForm" >
    {% csrf_token %}
  <div class="row ml-3">
  <div class="col-6 md-form mt-0">

    <input class="form-control" type="text" placeholder="Street" aria-label="Search" name="street" maxlength="50" id="id_street">
    <input class="form-control" type="number" placeholder="Numarul strazii" aria-label="Search" min=0 name="street_number" id="id_street_number">
    <input class="form-control" type="number" placeholder="Bloc" aria-label="Bloc" name="bloc" min=0 id="id_block">

  </div> 
  </div>
  <div class="row ml-3">
      <div class="col-2 md-form mt-0">
        <input class="form-control" placeholder="Scara" aria-label="Scara" type="text" name="scara" max_length = "1" id="id_scara">
      </div>
    <div class="col-2 md-form mt-0">
        <input class="form-control" placeholder="Apartament" aria-label="Pret maxim" type="number" name="ap" min="0" step="any" id="id_ap">
      </div>
      <div class="col-2 md-form mt-0">
        <input class="form-control" placeholder="Numar de telefon" aria-label="Numar de telefon" type="text" name="phone_number" max_length = "10" id="id_phone_number">
      </div>
  </div>
    <button type="submit" class="btn btn-success">Modifica</button>
  </form>

{% endblock %}