<style>
  footer{
    background-color:#a5d6a7;
  }
</style>

<footer class="page-footer font-small m mt-4">

  <div class="container">

    <div class="row">

      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <a class="fb-ic" href="https://www.facebook.com/torturidecasa.bacau">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>


        </div>
      </div>
	<div>
    	<p>© Radu Baston</p>
    </div>
    </div>

  </div>


 </footer>