<footer class="page-footer font-small m mt-4" style="background-color:#a5d6a7">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/torturidecasa.bacau">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>


        </div>
      </div>
      <!-- Grid column -->
	<div>
    	<p>© Radu Baston</p>
    </div>
    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->


 </footer>