{% extends 'main_pers.html' %}

{% load static %}


{% block navbar %}
<nav class="navbar navbar-dark" style="min-height:100px">
  <a class="navbar-brand" href="/" style="padding-left: 120px">
    <img src="{% static 'tort.jpg' %}" height="30" class="d-inline-block align-top"
      alt="mdb logo"> <div class="green-text">Torturi de casa Bacau</div>
  </a>
	<a class="navbar-brand" href="/user/myaccount/wish" data-toggle="tooltip" title="Wish List" style="margin-left: 650px"><i class="fa fa-heart" style="font-size:33px;color:#a5d6a7"></i></a>
	<a class="navbar-brand" href="/user/myaccount/cart" data-toggle="tooltip" title="Cart" style="margin-right: 250px"><i style="font-size:33px;color:#a5d6a7" class="fas fa-shopping-cart"></i></a>
</nav>
<nav class="navbar navbar-expand-sm #a5d6a7 lighten-3", style="background-color:#a5d6a7", style="min-height:100px">
  <!-- Brand -->
  <a class="navbar-brand white-text" style="padding-left: 120px" href="{% url 'home' %}"><b>Home</b></a>

  <!-- Links -->
  <ul class="navbar-nav">
	<li class="nav-item">
      <a class="nav-link white-text" href=""><b>Personalizare</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-text" href="#"><b>Contact</b></a>
    </li>
	

    <!-- Dropdown -->
	{% if user.is_anonymous == True %}
    <li class="nav-item" style="padding-left: 900px">
      <a class="nav-link white-text" href="/user/register">
        <b>Register</b>
      </a>
    </li>
	<li class="nav-item" style="padding-left: 20px">
      <a class="nav-link white-text" href="/user/login">
        <b>Login</b>
      </a>
    </li>
	{% else %}
	<li class="nav-item" style="padding-left: 900px">
      <a class="nav-link white-text" href="/user/myaccount">
        <b>{{user.nume}}</b>
      </a>
    </li>
	<li class="nav-item" style="padding-left: 30px">
      <a class="nav-link white-text" href="/user/logout">
        Logout
      </a>
    </li>	
	{% endif %}
  </ul>
</nav>

{% endblock %}

{% block form_pers %}



<form enctype="multipart/form-data" method="post" style="margin-top: 40px">
  <h1 class="green-text"><b>Detalii prajitura</b></h1>
  {% csrf_token %}
  <div >
    <label for="id_tort" style="padding-top: 20px"><h5>Imagine tort</h5></label>
    <input class="form-control" type="file" aria-label="file" name="tort" id="id_tort">
  </div>
  <div class="form-group shadow-textarea" style="margin-top: 20px">
      <label for="id_description"><h5>Descriere</h5></label>
      <textarea class="form-control z-depth-1" id="id_description" name="description" placeholder="Write something here..." required></textarea>    
  </div>
  <div>
      <label for="id_inscriptie" style="padding-top: 30px"><h5>Cantitate</h5></label>
      <input class="form-control" placeholder="Cate persoane?" aria-label="Gramaj" type="number" name="quantity" min="1" max="10" step="any" id="id_quantity" required>
  </div>
  <div style="margin-top: 10px" class="form-group md-outline input-with-post-icon datepicker" inline="true">
    <label for="id_date" style="padding-top: 30px" required><h5>Data de livrare</h5></label>
    <input placeholder="YYYY-MM-DD" type="text" name="date" id="id_date" class="form-control">
    
  </div>
  {% if checkout_ok %}
    <button type="submit" class="btn btn-success">Trimite</button>
  {% else %}
    <button type="button" class="btn btn-success" data-toggle="popover" data-placement="top" title="Adresa invalida"
  data-content="Pentru a putea trimite pe mail comanda trebuie sa aveti o adresa valida setata">Trimite</button>
  <script>
  $(function () {
$('[data-toggle="popover"]').popover()
})
</script>
  {% endif %}
</form>

{% endblock %}


{% block footer %}
<footer class="page-footer font-small m" style="background-color:#a5d6a7">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/torturidecasa.bacau">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  
 </footer>
{% endblock %}