{% load static %}
<style>
    @media screen and (min-width:600px){
        a[title="Cart"]{
            margin-right: 300px;
        }
        a[title="Wish List"]{
            margin-left: 530px;
        }
    }
    @media screen and (max-width:600px){
        a[title="Cart"]{
            margin-right: 0px;
        }
        a[title="Wish List"]{
            margin-left: 30px;
        }
    }
    nav a i{
        font-size:33px;
        color:#a5d6a7;
    }
    nav:first-of-type{
         min-height:100px;
    }
    nav:nth-of-type(2){
        background-color:#a5d6a7;
    }
    @media screen and (min-width:600px){
        nav:first-of-type > a{
            padding-left: 120px;
        }
    }
    @media screen and (min-width:600px){
        ul.navbar-nav > li:nth-of-type(2){
            padding-left: 900px;
        }
        ul.navbar-nav > li:nth-of-type(3){
            padding-left: 20px;
        }
    }
    @media screen and (min-width:600px){
        nav:nth-of-type(2) > a:first-child{
            padding-left: 120px;
        }
        nav span {
            display: none;
        }
    }
    @media screen and (max-width:600px){
        nav li{
            display: none;
        }
    }


</style>
<nav class="navbar navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="{% static 'tort.jpg' %}" height="30" class="d-inline-block align-top"
      alt="mdb logo"> <div class="green-text">Torturi de casa Bacau</div>
  </a>
	<a class="navbar-brand" href="/user/myaccount/wish" data-toggle="tooltip" title="Wish List"><i class="fa fa-heart"></i></a>
	<a class="navbar-brand" href="/user/myaccount/cart" data-toggle="tooltip" title="Cart"><i class="fas fa-shopping-cart"></i></a>
</nav>
<nav class="navbar navbar-expand-sm #a5d6a7 lighten-3">
  <!-- Brand -->
    <a class="navbar-brand white-text" href="{% url 'home' %}"><b>Home</b></a>
    <span><a class="nav-link white-text" href="/personalizare/"><b>Personalizare</b></a></span>
    {% if user.is_anonymous %}
        <span><a class="nav-link white-text" href="/accounts/signup"><b>Register</b></a></span>
        <span><a class="nav-link white-text" href=/accounts/login><b>Login</b></a></span>
    {% else %}
        <span><a class="nav-link white-text" href="/user/myaccount"><b>{{user.nume}}</b></a></span>
        <span><a class="nav-link white-text" href="/user/logout">Logout</a></span>
    {% endif %}
      <!-- Links -->
  <ul class="navbar-nav">
	<li class="nav-item">
      <a class="nav-link white-text" href="/personalizare/"><b>Personalizare</b></a>
    </li>


	{% if user.is_anonymous %}
    <li class="nav-item">
      <a class="nav-link white-text" href="/accounts/signup">
        <b>Register</b>
      </a>
    </li>
	<li class="nav-item">
      <a class="nav-link white-text" href="/accounts/login">
        <b>Login</b>
      </a>
    </li>
	{% else %}
	<li class="nav-item">
      <a class="nav-link white-text" href="/user/myaccount">
        <b>{{user.nume}}</b>
      </a>
    </li>
	<li class="nav-item">
      <a class="nav-link white-text" href="/user/logout">
        Logout
      </a>
    </li>
	{% endif %}
  </ul>

</nav>