{% load static %}
<style>


  .nvb{
    display: grid;
    padding: 16px;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 32px;
    align-items: center;
  }
  .presentation a:first-of-type{
      display: grid;
      grid-template-rows: 1fr 1fr;
      text-align: center;
      justify-items: center;
      align-items: center;
      font-size: 1.25rem;
      justify-self: start;
      grid-column: 2 / 5;
  }
  @media screen and (max-width: 600px){
    .presentation {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .presentation a i{
      font-size: 23px;
    }
    nav:nth-of-type(2){
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .nvb a{
        font-size: 16px;
    }
  }
  nav .wish{
    grid-column: 11;
  }
  nav .cart{
    grid-column: 13;
  }
  nav:nth-of-type(2){
    background-color: #a5d6a7;
    margin-bottom: 10px;
  }
  nav a i{
    font-size: 33px;
    color: #a5d6a7;
  }
  nav span a {
    font-size: 1.4vmax;
    color: #fff;
  }
  nav span:first-of-type{
      grid-column: 2;
  }
  nav span:nth-of-type(3){
    grid-column: 13;
  }
  nav span:nth-of-type(4){
    grid-column: 14;
  }
  .presentation{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }


</style>

  <nav class="presentation nvb">
    <a href="/">
      <img src="{% static 'tort.jpg' %}" height="30"
        alt="mdb logo">
        <div class="green-text">
          Torturi de casa Bacau
        </div>
    </a>
    <a href="/user/myaccount/wish" data-toggle="tooltip" title="Wish List" class="wish"><i class="fa fa-heart"></i></a>
    <a href="/user/myaccount/cart" data-toggle="tooltip" title="Cart" class="cart"><i class="fas fa-shopping-cart"></i></a>
  </nav>
  <nav class="lighten-3 nvb">
    <!-- Brand -->
      <span><a href="{% url 'home' %}"><b>Acasa</b></a></span>
      <span><a href="/personalizare/"><b>Personalizare</b></a></span>
      {% if user.is_anonymous %}
        <span><a href="/accounts/signup"><b>Register</b></a></span>
        <span><a href=/accounts/login><b>Login</b></a></span>
      {% else %}
        <span><a href="/user/myaccount"><b>{{user.nume}}</b></a></span>
        <span><a href=/user/logout><b>Logout</b></a></span>
      {% endif %}
        <!-- Links -->
  </nav>